#title{
    color:rgb(72, 72, 167);
    padding-bottom: 8vh;
    position: relative;
    left: 24vw;
}
#header{
    width: 100vw;
    height: 20vh;
    z-index: 20;
}
h1{
    font-size: 40px;
}
h2{
    font-size: 30px;
}
#root{
    width: 100vw;
    overflow-x:hidden;
}
.hotbar{
    text-align: center;
    color:rgb(20, 163, 127)
}
#intro{
    color: rgb(72, 72, 167);
    text-align: center;
}

.drop-down{
    display: inline-block;
    position: relative;
    text-align: center;
}
.dd-content{
    display: none;
    position: relative;
    width:inherit;
    overflow:auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    margin: 0 auto;
    background-color: white;
    z-index: 5;
}
.drop-down:hover .dd-content{
    display:block;
}
.dd-content a:hover{
    z-index: 5;
    color: rgb(72, 72, 167);
    background-color: none;
    text-decoration: none;
}
#dd1{
    border:inherit;
    font-size: 30px;
    width: inherit;
}
.dd-links{
    width:inherit;
    text-decoration: none;
    z-index: 5;
}
.dd-links:hover{
    text-decoration:none;
}
#logo{
    width: 10vw;
    height: 10vh;
}
.co-link{
    width:10vw;
    height:10vh;
}
#primary{
    height: 80vh;
    z-index: 1;
}
#primary h1{
    text-align: center;
    color: orange
}
#mainBody{
    background-image: url("https://bit.ly/3lpJj1Y");
    background-repeat: repeat;
    height: 80vh;
    background-attachment: fixed;
}
#stockBody{
    background-image: url("https://bit.ly/3lpJj1Y");
    background-repeat: repeat;
    background-attachment: fixed;
}
#featured{
    height: 80%;
    position: relative;
    margin: 0 auto;
    background-color: rgb(72, 72, 167);
    border-radius: 0px 0px 50% 50%;
}
.feat-box{
    position: relative;
    height: 35vh;
    width: 25vw;
    margin-top: 3vh;
    margin-left: 3vh;
    box-shadow: 8px 4px 4px rgb(49, 48, 48);
    background-color:white;
    float: left;
    align-content: center;
    text-align:center;
}
.feat-package{
    height: 45vh;
    position:relative;
    margin: 0 auto;
    padding: 20px;
}
.feat-name{
    color: white;
}
.feat-link{
    text-decoration: none;
}
.feat-link:hover{
    text-decoration: none;
}
.feat-img{
    width: 80%;
    height:65%;
    margin-top: 5%;
    padding-bottom: 5px;
    border-bottom: 2px solid rgba(150, 150, 150, 0.500)
}
.feat-price{
    text-align: center;
}
#stock{
    background-color: white;
    height: 100%;
    position: relative;
    margin: 0 auto;
}